#img-bg{
    background-image: url(../../assets/img/Best-Blog-writing-tips-4.jpg);

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}